<h3>Primary</h3>
<hr />
<button medatus-button [color]="btnColor.PRIMARY" [size]="btnSize.LARGE"> Button</button>
<button medatus-button [color]="btnColor.PRIMARY" [size]="btnSize.MEDIUM">Button</button>
<button medatus-button [color]="btnColor.PRIMARY" [size]="btnSize.SMALL">Button</button>
<button medatus-button [color]="btnColor.PRIMARY" [size]="btnSize.LARGE" disabled> Button</button>
<button medatus-button [color]="btnColor.PRIMARY" [size]="btnSize.MEDIUM" disabled>Button</button>
<button medatus-button [color]="btnColor.PRIMARY" [size]="btnSize.SMALL" disabled>Button</button>
<br>
<br>

<h3>SECONDARY</h3>
<hr />
<button medatus-button [color]="btnColor.SECONDARY" [size]="btnSize.LARGE"> Button</button>
<button medatus-button [color]="btnColor.SECONDARY" [size]="btnSize.MEDIUM">Button</button>
<button medatus-button [color]="btnColor.SECONDARY" [size]="btnSize.SMALL">Button</button>
<button medatus-button [color]="btnColor.SECONDARY" [size]="btnSize.LARGE" disabled> Button</button>
<button medatus-button [color]="btnColor.SECONDARY" [size]="btnSize.MEDIUM" disabled>Button</button>
<button medatus-button [color]="btnColor.SECONDARY" [size]="btnSize.SMALL" disabled>Button</button>